<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style_bot.css') }}" >

 
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ChatBot</h1>
        </div>
        
        <div class="chat" >
        <div class="kolom">
            {% for response in response %}
                <p class="message msg_human">{{response[0]}}</p>
                <p class="message">{{response[1]}}</p>
            {% endfor %}
        </div>
        </div>
        
        <div class="footer">
            <form action="/predict" method="post">
                <input type="text" name="teks" placeholder="Type here">
                <button>SEND</button>
            </form>
        </div>

    </div>
</body>
</html>